
.landing-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.landing-logo{
    font-size: 30px;
    background: linear-gradient(to right, #572D0C, #6C3B1C);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: pointer;
}

.landing-logo>span{
    font-size: 20px;
    color: var(--text-color);
}

.menu-links ul li{
    display: inline-block;
    font-size: 14px;
    padding-right: 20px;
    cursor: pointer;
}

.landing-account{
    cursor: pointer;
    font-size: 14px;
}

.landing-account i{
    font-size: 28px;
}

